<div class="container">
  <h2>Create an event!</h2>
<form action="createEvent" method="POST">
  <div class="form-group">
    <label for="name">Name: </label><br>
    <input type="text" name="name" id="name">
  </div>
  <div class="form-group">
    <label for="description">Description: </label><br>
    <input type="text" name="description" id="description">
  </div>
  <div class="form-group">
    <label for="location">Location: </label><br>
    <input type="text" name="location" id="location"> 
  </div>
  <div class="form-group">
    <label for="downloadURL">Web-site URL: </label> <br>
    <input type="text" name="downloadURL" id="downloadURL">
  </div>
  <div class="form-group">
    <label for="ticketPrice">Regular ticket price: </label><br>
    <input type="text" name="ticketPrice" id="ticketPrice">
  </div>
  <div class="form-group">
    <label for="eventImage">Image: </label> <br>
    <input type="img" name="eventImage" id="eventImage">
  </div>
  <a href="/"><button type="submit" class="btn btn-primary">Create an Event</button></a>
</form>
</div>