<div class="container nav-container">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link nav_link" href="/">Current exhibitions</a>
  </li>
    {{#if currentUser}}
  <li class="nav-item">
    <a class="nav-link nav_link" href="/createEvent">Create an event</a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav_link" href="/favouriteList/:id" id="favourite">Favourite</a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav_link" href="/logout">Log out</a>
  </li>
    {{else}}
  <li class="nav-item">
      <a class="nav-link nav_link" href="/login">Log in</a>
  </li>
    <li class="nav-item">
      <a class="nav-link nav_link" href="/signup">Sign up</a>
  </li>
    {{/if}}
</ul>
</div>